.progress-container {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #e5e7eb; /* hellgrau */
  border-radius: 6px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #76ABAE; /* blau */
  transition: width 0.3s ease;
}

